<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>StarterApp</name>
    <description>
        A sample Ionic Framework app using Cordova and AngularJS
    </description>
    <author email="support@drifty.com" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
  <access origin="https://google.com" />
  <access origin="https://maps.google.com" />
  <access origin="https://gstatic.com" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <gap:plugin name="org.apache.cordova.core.camera" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-file" spec="1.0" />
    <plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.12" />
  <gap:plugin name="org.apache.cordova.geolocation" />
    <engine name="windows" spec="~4.1.0" />
  <plugin name="eu.mobilion.ibeacon" spec="0.0.0" source="pgb" />
</widget>
