<ion-view title="Map">
  <ion-content padding="true" class="has-header">

    <div ng-controller="MapCtrl">
      <div id="map"></div>
      <p>{{device_location}}</p>
      <br><br>

    </div>
    <!--
    <div ng-controller="BluetoothCtrl">
      <button class ="button button-small button-positive" ng-click="findDevices()">Find bluetooth devices</button>
    </div>  -->
    <div ng-controller="MemberIndexCtrl">
      <div class="list">
        <a ng-repeat="member in members " href="#/member/{{member.id}}" class="item item-thumbnail-left">
          <img ng-src="{{member.image}}" />
          <p>Id: {{member.id}}</p>

          <p>Name: {{member.name}}</p>

        </a>

        </div>

      </div>



  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <a class="button" href="#/add">Add member</a>
    </div>

  </ion-footer-bar>
</ion-view>
